<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>172077341628-tfap8p5384a6otkosf6ldtccca647ai6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.172077341628-tfap8p5384a6otkosf6ldtccca647ai6</string>
	<key>API_KEY</key>
	<string>AIzaSyAJdC3SY--JY9Cdlq9iYasKKmW7vZmp3og</string>
	<key>GCM_SENDER_ID</key>
	<string>172077341628</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.videovoiceandchat</string>
	<key>PROJECT_ID</key>
	<string>vvc9ja</string>
	<key>STORAGE_BUCKET</key>
	<string>vvc9ja.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:172077341628:ios:c974d90122c63f5c7b29b9</string>
</dict>
</plist>